.nav {
  background-color: #21201E;
  grid-area: n;
  border-top: 1px solid rgb(230, 245, 245);
  padding: 10px;
  }

.item {
  color: rgb(63, 91, 104);
  line-height: 1.5em;
  transition: all 0.3s ease 0s;
}

.item:last-child {
  margin-top: 30px;
}

.item a:hover {
  color: rgb(156, 147, 97);
}

.item a:focus { 
  font-size: 20px;
  color: rgb(212, 181, 4); 
} 

.item a.active {
  font-size: 20px;
  color: rgb(212, 181, 4);
}

.item a {
  color:rgb(230, 245, 245);
  text-decoration: none;
}