.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    font-size: 20px;
    color: gold; 
}

.dialogsItem:focus {
    font-size: 20px;
    color: gold; 
}
.dialogItem {
   
   
}

.dialogItem a {
    color: black;
    text-decoration: none;
    line-height: 3em;
}

.messagesContainer{
    border-left: 1px solid rgb(15, 15, 15);
}

.massages {
    padding: 10px;
}

.message {
    
    background-color: rgb(253, 255, 240);
    padding: 10px;
    line-height: 3em;
    border-radius: 45px;
    margin: 10px 10px 10px 10px;

}